* {
  scroll-behavior: smooth;
}
.message {
  animation: message 0.4s ease forwards;
  -webkit-animation: message 0.4s ease forwards;
}

@keyframes message {
  from {
    opacity: 0;
    margin: 5px;
  }
  to {
    opacity: 1;
  }
}
